<div class="container-fluid">
    <nav class="navbar navbar-expand navbar-light bg-light">
        <a class="navbar-brand">GSB</a>
        <ul class="nav">
            <li class="nav-item" routerLinkActive="active"><a style="color: black;" class="nav-link" routerLink="connexion">Connexion</a></li>
            <li class="nav-item" routerLinkActive="active"><a style="color: black;" class="nav-link" routerLink="les-medecins">Médecins</a></li>
            <li class="nav-item active" routerLinkActive="active"><a style="color:black;" class="nav-link" routerLink="les-medicaments">Médicaments</a></li>
        </ul>
    </nav>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>