<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label for="site-search">Recherche: </label>
                <input class="form-control mb-2" type="search">
                <button class="btn btn-outline-primary mb-2">Search</button>
            </div>
            <table class="table table-responsive table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Adresse</th>
                        <th>Tel</th>
                        <th>Spécialité complémentaire</th>
                        <th>Département</th>
                        <th>Détails</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let medecin of medecins[0]">
                        <td>{{medecin.id}}</td>
                        <td>{{medecin.nom}}</td>
                        <td>{{medecin.prenom}}</td>
                        <td>{{medecin.adresse}}</td>
                        <td>{{medecin.tel}}</td>
                        <td>{{medecin.specialitecomplementaire}}</td>
                        <td>{{medecin.departement}}</td>
                        <td><a class="btn btn-outline-primary mb-2" routerLink="details-medecins/{{medecin.id}}">Détails</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>